body, h1, h2, p, img, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #1d481e;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    max-width: 100px;
}

.login-container h1 {
    margin: 0;
}

.login-link a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

.footer-container {
    background-color: #1d481e;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.article-container {
    max-width: 10000px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #1d481e;
    color: #fff;
}

td {
    background-color: #f9f9f9;
}

tfoot {
    background-color: #1d481e;
    color: #fff;
}
